
 .main-bg-color  {
	  background-color: #40ddf2; 
}

 .btn-corners  {
	  border-radius: 99px; 
}

 .btn-bg-color  {
	  background-color: #0079fa; 
}

 .btn-txt-color  {
	  color: #FFFFFF; 
}

 .font-family  {
	  font-family: poppins, sans-serif; 
}

 .font-color  {
	  color: #000000; 
}
